<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <a href="/logout" class="logoutBtn" aria-label="Logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 15a1 1 0 0 0 1-1v-3h-1v3H2V2h8v3h1V2a1 1 0 0 0-1-1H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3-.708.708L14.293 8l-2.147 2.146.708.708 3-3z"/>
                <path fill-rule="evenodd" d="M5 8a.5.5 0 0 0 .5.5h8v-1h-8A.5.5 0 0 0 5 8z"/>
            </svg>
            Logout
        </a>
    </div>
</header>